:root {
    --header-font: 'Satisfy';
    --content-font: 'Montserrat';
    --main-text-color: white;
}

body {
    background-image: linear-gradient(150deg, midnightblue, black);
    min-height: 100vh;
    scroll-behavior: smooth;
    color: var(--main-text-color);
    font-size: 36px;
    font-family: var(--content-font);
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

#particles-js {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

canvas {
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    overflow: hidden;
}

.profile-img {
    width: 400px;
}

h1, h2 {
    font-family: var(--header-font);
}

h1 {
    font-size: 350%;
}

h3 {
    font-size: 90%;
}

nav {
    display: flex;
    flex-flow: row wrap;
}

nav > a {

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 40vw;
}