:root {
    --header-font: 'Satisfy';
    --content-font: 'Montserrat';
    --main-text-color: white;
}

body {
    background-image: linear-gradient(150deg, black, rgb(18, 26, 99), black);
    min-height: 100vh;
    scroll-behavior: smooth;
    color: var(--main-text-color);
    font-size: 36px;
    font-family: var(--content-font);
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

#particles-js {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

canvas {
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    overflow: hidden;
}

.profile-img {
    width: 400px;
}

h1, h2 {
    font-family: var(--header-font);
    text-align: center;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 90%;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav > a {
    padding: 10px;
}

main {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section {
    margin-top: 100px;
    width: 40vw;
}

p {
    padding-bottom: 30px;
}

#skills > ul, #resume > p {
    text-align: center;
}

#projects {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    gap: 30px;
}

summary {
    overflow: hidden;
    height: 35vh;
    flex: 1 0 40%;
}

.screenshot {
    width: 100%;
    object-fit: cover;
}

summary:last-child {
    flex: 1 1 100%;
}

#contact-box {
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
}

.social-link {
    text-align: center;
}

.social-icon {
    height: 100px;
    width: 100px;
    filter: invert(1);
    padding: 20px 20px 0 20px;
}

footer {
    text-align: center;
    font-size: 80%;
    bottom: 0;
    margin-bottom: 30px;
    align-self: center;
}
